body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dcecfc;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
    gap: 5px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(75, 74, 74);
    box-shadow: black 0px 5px 20px;
}

.cell {
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

button {
    margin: 3px;
    padding: 10px 20px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: #f39c12;
}

button:hover {
    background-color: #e67e22;
}

#turn-indicator {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.highlight {
    background-color: gold;
}

@media (max-width: 600px) {
    .board {
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: repeat(4, 60px);
    }

    .cell {
        width: 60px;
        height: 60px;
        font-size: 1.5rem;
    }

    button {
        width: 100px;
        padding: 10px 15px;
    }
}